@model CategoryCreate

<div class="container mt-5">
    <form method="post" asp-action="Create" enctype="multipart/form-data" class="forms-sample">

        <div class="form-group">
            <label>Name: </label>
            <input asp-for="Name" class="form-control" maxlength="none">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label>Is Active: </label>
            <input asp-for="IsActive" class="form-control" maxlength="none">
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>