@model ProductCreate

<div class="container mt-5">
    <form method="post" asp-action="Create" enctype="multipart/form-data" class="forms-sample">

        <div class="form-group">
            <label>Name: </label>
            <input asp-for="Name" class="form-control" maxlength="none">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description: </label>
            <input asp-for="Description" class="form-control" maxlength="none">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label>Price: </label>
            <input asp-for="Price" class="form-control" maxlength="none">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        <div class="form-group">
            <label>Unit: </label>
            <input asp-for="Unit" class="form-control" maxlength="none">
            <span class="text-danger" asp-validation-for="Unit"></span>
        </div>

        <div class="form-group">
            <label>Category Id: </label>
            <input asp-for="CategoryId" class="form-control" maxlength="none">
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>